@font-face {
  font-family: "louis_george_cafe";
  src: url("fonts/louis_george_cafe/louis_george_cafe.tff");
}

/* wordpress stuff */

/* login form */
#post-10 {
  margin: auto 12px;
  max-width: 400px;
}

.entry-header {
  text-align: center;
}

.tml-submit-wrap {
  text-align: center;
}

main {
  width:100%;
}

.tribe-events-view {
  width:100%;
  font-family: inherit;
}

.tribe-events-c-top-bar__datepicker-button-icon-svg {
  display: none!important;
}

.tribe-events-c-events-bar__search-container {
  display: none!important;
}

.tribe-events-c-events-bar--border {
  border-style: hidden!important;
}

.tribe-events-c-events-bar__views {
  width: 100%;
}

.tribe-events-c-events-bar__search-button {
  display: none!important;
}

footer {
  display: none;
}

/* my stuff */
html {
  height: 100%;
}

body {
  font-family: "louis_george_cafe"!important;
  padding: 12px!important;
  background-color: #000;
  color: #000!important;
  height: 100%;
}

p {
  font-size: calc(10% + 1vw + 1vh);
}

.row {
  height: 100%;
  padding: 12px;
}

.row > div {
  padding: 0 5%;
}

@media (min-width: 992px) {
  .row > div:first-child {
    border-style: hidden solid hidden hidden;
  }
}


body > div {
  border-style: solid;
  border-color: #000;
  border-width: 10px;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#txt {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-decoration: underline;
}

#pic {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-style: hidden;
}

a {
  text-decoration: none!important;
  color: #212529!important;
  font-style: italic;
}

img {
  width: 75%;
}

span.spacing {
  display: inline-block;
  width: 10px;
}

button {
  border-style: solid;
  border-color: #000;
  border-width: 1px;
  background-color: #FFF;
}
